.teaser {
	background: $bg-teaser;
	width: 20em;
	height: 15em;
	margin-bottom: 2em;
	padding: 2em;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.teaser-body {
	position: absolute;
	top: 3.5em;
	right: -8em;
	color: darken($bg-teaser, 15%);
}

.teaser-title {
	font-family: 'Fira Sans', sans-serif;
	font-style: oblique;
	position: relative;
	color: $color-teaser-title;
	display: block;
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 2px 2px 1px $text-shadow-color-teaser-title;
	z-index: 100;

	&:hover {
		text-decoration: underline;
	}
}

.teaser-category {
	display: block;
	position: absolute;
	left: 1em;
	bottom: 1em;
	color: $color-teaser-category;
	font-weight: bold;
	font-size: 1.2em;

	&:hover {
		text-decoration: underline;
	}
}
