.info  {
  width: 90%;
  margin: 0 auto;
  border-top: 2px dotted $black;
  border-bottom: 2px dotted $black;
  margin-bottom: 2em;
  @include breakpoint(medium){
    width: 75%;
  }
  @include breakpoint(medium){
    width: 60%;
  }
  p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}

.contact-page  {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
  @include breakpoint(medium){
    width: 75%;
  }
  @include breakpoint(medium){
    width: 60%;
  }
  p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}

.title {
  font-family: 'Fira Sans', sans-serif;
  border-bottom: 6px solid $brown;
  padding-bottom: .3em;
  letter-spacing: .02em;
  text-align: center;
}

.teasers {
  text-align: center;;
}

.teaser {
  background: $bg-teaser;
  height: 15em;
  margin-bottom: 2em;
  padding: 2em;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: left;
  @include breakpoint(medium) {
    display: inline-block;
    margin-top: 1em;
    margin-right: 1em;
    width: 45%;
	}
  @include breakpoint(large) {
    width: 30%;
    margin-right: 1.5em;
  }
}

.teaser-body {
  position: absolute;
  top: 3.5em;
  width: 100%;
  left: 60%;
  color: darken($bg-teaser, 15%);
}

.teaser-title,
.poem-title {
  font-family: 'Fira Sans', sans-serif;
  font-style: oblique;
  font-weight: bold;
}

.teaser-title {
  position: relative;
  color: $color-teaser-title;
  display: block;
  font-size: 2.5em;
  text-shadow: 2px 2px 1px $text-shadow-color-teaser-title;
  z-index: 100;

  &:hover {
    text-decoration: underline;
  }
}

.teaser-category {
  display: block;
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: $color-teaser-category;
  font-weight: bold;
  font-size: 1.2em;

  &:hover {
		text-decoration: underline;
	}
}

.poem-title {
  text-align: center;
  font-size: 2.1em;
  letter-spacing: .05em;
  background: $blue-dark;
  color: $white;
  line-height: 2em;
  text-shadow: 2px 2px 1px $text-shadow-color-poem-title;
  @include breakpoint(medium) {
    font-size: 2.5em;
	}
}

.poem {
	width: 100%;
  color: $black;
  padding: 1em;
}

.poem-body {
	padding-left: 1em;
  font-size: 1.3em;
  letter-spacing: .02em;
  font-style: oblique;
  line-height: 1.5em;
  @include breakpoint(medium) {
  	padding-left: 2em;
  	font-size: 1.5em;
  }
  @include breakpoint(large) {
		padding-left: 4em;
		font-size: 1.6em;
		line-height: 1.7em;
	}
}

.prev-next-poem {
  margin: 1em 0;
  padding: 0 .5em;
  overflow: hidden;
}

.poems-nav {
  font-size: 2.5em;
  background-color: $blue;
  padding: .1em .4em;
  border-radius: 100%;
  position: relative;
  color: $black;
  .nav-arrow {
    position: relative;
    bottom: 3px;
  }
  &:hover {
    background: $blue-dark;
    .nav-arrow {
      color: $white;
    }
  }
}

.prev-poem {
  float: left;
}

.next-poem {
  float: right;
}
