.site-nav {
  font-size: 1.1em;
  margin: 1em 0;
  padding: .8em .5em;
  background: $blue-darker;
  text-align: center;
}

.menu-item {
  margin-bottom: .5em;
  &:last-child {
    margin-bottom: 0;
  }
  border-bottom: 4px solid $white;
  font-weight: bold;
  color: $black;
  background: $white;
  display: block;
  &:hover {
    border-bottom-color: $black;
  }
  @include breakpoint(medium) {
    display: inline-block;
    padding: 0.1em .5em;
    margin-right: 1em;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
  @include breakpoint(large) {
    margin-right: 2em;
  }
}
