$black: #090707;
$white: #fffff3;
$blue: #30A9DE;
$red: #E53A40;
$brown: #AF4034;
$yellow: #EFDC05;
$blue-dark: darken($blue, 20%);
$white-dark: darken($white, 10%);

$bg-body: $white;
$bg-teaser: $blue;;

$color-teaser-title: $white;;
$color-teaser-category: #2A1E5C;

$box-shadow-color-module: #090707;
$text-shadow-color-teaser-title: #090707;

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
